/*-- scss:functions --*/

/*-- scss:defaults --*/


// Colors
$sienna: #B9714F;
$navy: #34414E;
$sundress: #EBCF89;
$light-gray: #ebebeb;
$cream: #F4EFE4;
$gray: #65666a;
$black-bean: #2e272A;
$milk: #F1EEE6;
$pink: #e0218a;
$blue: #595DE5;
$green: #0DB574;
$yellow: #FFBC2F;
$violet: #B0B6D9;

// Base document colors
$navbar-bg: $black-bean; // navbar
$navbar-fg: $light-gray; // navbar foreground elements
$navbar-hl: $sundress; // highlight color when hovering over navbar links
$body-bg: $milk; // page background 
$body-color: $navy; // page text 
$footer-bg: $milk; // footer 
$link-color: $pink; // hyperlinks 

// fonts

$font-family: 'Helvetica';

//toc 
$toc-font-size: 12px;
$toc-active-border: $pink;

// callouts
$callout-color-note: $green;
$callout-color-tip: $blue;
$callout-color-caution: $pink;
$callout-color-important: $yellow;

/*-- scss:rules --*/

.title {
  margin-top: 2em !important;
  margin-bottom: 1.5em;
  font-size: 28px;
  font-family: $font-family;
  font-weight: 500;
}

body {
  font-size: 14px;
  font-family: $font-family;
}

.left {
  text-align: left;
  padding-left: 1em;
}
.right {
  text-align: right;
  padding-right: 1em;
}


/* Heading 1 */
h1 {
  font-size: 24px;
  font-family: $font-family;
  font-variant: normal; 
  font-weight: 500; 
}

/* Heading 2 */
h2 {
  font-size: 21px;
  font-family: $font-family;
  font-variant: normal; 
  font-weight: 500; 
}

/* Heading 3 */
h3 {
  font-size: 18px;
  font-family: $font-family;
  font-variant: normal; 
  font-weight: 500; 
}

/* Heading 3 */
h3 {
  font-size: 16px;
  font-family: $font-family;
  font-variant: normal; 
  font-weight: 500; 
}

.callout.callout-style-default .callout-body {
  font-size: 0.75rem;
}

.note {
  margin: 1em 0;
  border: 2px solid gray;
  border-left: 10px solid teal; 
  border-radius: 10px;
}

.note-header {
  margin-left: 0em;
  padding-left:  60px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: black;
  background-color: $violet;
  border-top-right-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-image: "images/lightning.png";
}

.note-container {
  padding-top: 5px;
  padding-left: 10px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}